body {
    font-family: 'Kanit', sans-serif;
  }
  
  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  /* Add a thumb */
  body::-webkit-scrollbar-thumb {
      background: rgba(250, 250, 250, 0.5);
  }
  
  body, html {
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }
  
  
  .page-heading {
    background-image: url(../img/heading_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    text-align: center;
  }
  
  .page-heading .heading-content h1 {
    font-size: 32px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    background-color: rgba(250,250,250,0.1);
    display: inline-block;
    margin-bottom: 0;
    margin-top: 220px;
    padding: 20px 60px;
  }
  
  .page-heading .heading-content em {
    font-style: normal;
    font-weight: 200;
  }
  
  #video-container  {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  
  #video-container video,
  .video-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
  
  #video-container .video-overlay {
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    width: 100%;
  }
  
  #video-container .video-content {
    z-index: 99999;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  #video-container .video-content .inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  
  #video-container .video-content .inner h1 {
    font-size: 64px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
  }
  
  #video-container .video-content .inner em {
    font-style: normal;
    font-weight: 200;
  }
  
  
  #video-container .video-content .inner p {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 0px 30px;
  }
  
  #video-container .video-content .inner a {
    color: #fff;
    text-decoration: underline;
  }
  
  #video-container .video-content .inner .scroll-icon {
    margin-top: 45px;
  }
  
  .full-screen-gallery .container-fluid,
  .full-screen-gallery .col-md-4, .col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  
  .gallery-item img {
    width: 100%;
    overflow: hidden;
  }
  
  .gallery-item .thumb {
    position: relative;
  }
  
  
  .gallery-item .hover-effect .hover-content {
      position: absolute;
      text-align: left;
      width: 100%;
      bottom: 0;
      left: 0;
  }
  
  
  .full-screen-gallery .gallery-item h1 {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    line-height: 15px;
    transform: translateY(25px);
    transition: .5s ease-in-out;
    letter-spacing: 0.5px;
   }
  
   .full-screen-gallery .gallery-item em {
    font-style: normal;
    font-weight: 200;
   }
  
  .full-screen-gallery .gallery-item:hover h1 {
    transform: translateY(0);
   }
  
  .full-screen-gallery .gallery-item p {
    padding-left: 20px;
    font-weight: 300!important;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
    text-transform: uppercase;
   }
  
   .full-screen-gallery .gallery-item {
   text-align: center;
   line-height: 150%;
   text-transform: lowercase;
   cursor: pointer;
  }
  
  .full-screen-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translateY(0);
   }
   
  /* Modal */
  .modal {
    background-color: rgba(0,0,0,.95);
    display: none;
    overflow: auto;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: all 0.6s;
    overflow: scroll;
  }
  
  .modal::-webkit-scrollbar {
    display: none;
  }
  
  /* Modal Content */
  .modal-content {
    text-align: center;
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
  }
  .modal-animated-in {
    animation: totop-in .6s ease;
  }
  .modal-animated-out {
    animation: totop-out .6s ease forwards;
  }
  .modal-header {
    border-bottom: none;
  }
  .modal-header h3 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 64px;
    margin-top: 5%;
    border-bottom: none;
    margin-bottom: 20px;
  }
  
  .modal-header em {
    font-style: normal;
    font-weight: 200;
  }
  
  .modal-content .close-btn {
    position: absolute;
    z-index: 99999999;
    color: #fff;
    right: 38px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
  }
  
  .modal-body {
    text-align: center;
    margin: 0 auto;
  }
  
  .modal-body input {
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.15);
    outline: none;
    border: none;
    box-shadow: none;
    line-height: 40px;
    height: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
  
  .modal-body textarea {
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    background-color: rgba(250, 250, 250, 0.15);
    outline: none;
    border: none;
    box-shadow: none;
    height: 165px;
    max-height: 220px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 25px;
  }
  
  .modal-body button {
    border-radius: 0px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    letter-spacing: 2px;
    border-bottom: 3px solid #fff;
    display: inline-block;
    padding: 0px 0px 3px 0px;
    transition: all 0.5s;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  
  .modal-body button:hover {
    color: rgba(250,250,250,0.5);
    border-color: rgba(250,250,250,0.5);
    outline: none;
  }
  
  /* Keyframes */
  @keyframes totop-in {
    0% {
      top: 600px;
      opacity: 0;
    }
    100% {
      top: 0%;
      opacity: 1;
    }  
  }
  
  @keyframes totop-out {
    0% {
      top: 0px;
      opacity: 1;
    }
    100% {
      top: -100%;
      opacity: 0;
    }  
  }

  footer {
    width: 100%;
    height: 80px;
    background-color: #313131;
  }
  
  footer p {
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 33px;
    letter-spacing: 0.5px;
  }
  
  footer a {
    color: #aaa;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: none;
    color: #aaa;
  }
  
  .masonry-gallery .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .masonry .col-md-4, .masonry .col-md-8 {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .masonry {
    width: 100%;
    background-color: transparent;
    position: relative;
  }
  
  .masonry .item {
    display: inline-block;
  }
  
  .masonry .first-item {
    margin-bottom: -0.5px;
  }
  
  .masonry .last-item {
    float: left;
  }
  
  .masonry .item img {
    width: 100%;
    overflow-y: hidden;
  }
  
  .masonry .item .thumb {
    position: relative;
  }
  
  .masonry .item .hover-effect .hover-content {
      position: absolute;
      text-align: left;
      width: 100%;
      bottom: 5px;
      left: 0;
  }
  
  
  .masonry .item h1 {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    line-height: 15px;
    transform: translateY(25px);
    transition: .5s ease-in-out;
    letter-spacing: 0.5px;
   }
  
  .masonry .item em {
    font-style: normal;
    font-weight: 200;
   }
  
  .masonry .item:hover h1 {
    transform: translateY(0);
   }
  
  .masonry .item p {
    padding-left: 20px;
    font-weight: 300!important;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
    text-transform: uppercase;
   }
  
  .masonry .item {
   text-align: center;
   line-height: 150%;
   text-transform: lowercase;
   cursor: pointer;
  }
  
  .masonry .item:hover p {
    opacity: 1;
    transform: translateY(0);
   }
  
  .grid-gallery {
    padding: 65px 0px;
    background-color: #232323;
  }
  
  .grid-gallery .gallery-item {
    margin: 15px 0px;
  }
  
  .gallery-item .hover-effect .hover-content {
      position: absolute;
      text-align: left;
      width: 100%;
      bottom: 5px;
      left: 0;
  }
  
  
  .grid-gallery .gallery-item h1 {
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    padding-left: 20px;
    line-height: 15px;
    transform: translateY(25px);
    transition: .5s ease-in-out;
    letter-spacing: 0.5px;
   }
  
   .grid-gallery .gallery-item em {
    font-style: normal;
    font-weight: 200;
   }
  
  .grid-gallery .gallery-item:hover h1 {
    transform: translateY(0);
   }
  
  .grid-gallery .gallery-item p {
    padding-left: 20px;
    font-weight: 300!important;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s ease-in-out;
    text-transform: uppercase;
   }
  
  .grid-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translateY(0);
   }
  
 @media (max-width: 530px) {
  
    .modal-header h3 {
      margin-top: 15%;
    }
  
    .modal-body input {
      width: 100%;
    }
  
    .modal-body textarea {
      width: 100%;
    }
  
    .modal-content {
      padding-bottom: 40px;
    }
  
    .grid-gallery {
      padding: 0px 0px;
    }
  
    .grid-gallery .gallery-item {
      margin: 30px 0px;
    }
  
    .grid-gallery .load-more-button {
      padding-bottom: 30px;
    }
  }
  